ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^davidhunter/?$ https://davidhunter.weburl.net/ [R=307,END]
    RewriteRule ^davidhunter/(.*)$ https://davidhunter.weburl.net/$1 [R=307,END]
    
    RewriteRule ^staticphp/?$ https://staticphp.softwayr.net/ [R=307,END]
    RewriteRule ^staticphp/(.*)$ https://staticphp.softwayr.net/$1 [R=307,END]

    RewriteRule ^paulawhitefield/?$ https://paulawhitefield.weburl.net/ [R=307,END]
    RewriteRule ^paulawhitefield/(.*)$ https://paulawhitefield.weburl.net/$1 [R=307,END]
    
    RewriteRule ^paulasworld/?$ https://paulasworld.weburl.net/ [R=307,END]
    RewriteRule ^paulasworld/(.*)$ https://paulasworld.weburl.net/$1 [R=307,END]

    RewriteRule ^angelicahenderson/?$ https://angelicahenderson.weburl.net/ [R=307,END]
    RewriteRule ^angelicahenderson/(.*)$ https://angelicahenderson.weburl.net/$1 [R=307,END]
    
    RewriteRule ^littleinnocentangel/?$ https://littleinnocentangel.weburl.net/ [R=307,END]
    RewriteRule ^littleinnocentangel/(.*)$ https://littleinnocentangel.weburl.net/$1 [R=307,END]

    RewriteRule ^annewarren/?$ https://annewarren.weburl.net/ [R=307,END]
    RewriteRule ^annewarren/(.*)$ https://annewarren.weburl.net/$1 [R=307,END]
    
    RewriteRule ^davecomputergeek/?$ https://davecomputergeek.weburl.net/ [R=307,END]
    RewriteRule ^davecomputergeek/(.*)$ https://davecomputergeek.weburl.net/$1 [R=307,END]
	
	RewriteRule ^networktools/?$ https://networktools.cloudhosted.net/ [R=307,END]
    RewriteRule ^networktools/(.*)$ https://networktools.cloudhosted.net/$1 [R=307,END]
	
	RewriteRule ^dah5/?$ https://www.dah5.com/ [R=307,END]
    RewriteRule ^dah5/(.*)$ https://www.dah5.com/$1 [R=307,END]
	
	RewriteRule ^staticly/?$ https://www.dah5.com/staticly [R=307,END]
    RewriteRule ^staticly/(.*)$ https://www.dah5.com/staticly/$1 [R=307,END]

    RewriteRule ^personaclix/?$ https://www.personaclix.com [R=307,END]
    RewriteRule ^personaclix/(.*)$ https://www.personaclix.com/$1 [R=307,END]

    RewriteRule ^clixpanel/?$ https://clixpanel.personaclix.com [R=307,END]
    RewriteRule ^clixpanel/(.*)$ https://clixpanel.personaclix.com/$1 [R=307,END]

    RewriteCond %{SERVER_PORT} ^80$ [OR]
    RewriteCond %{HTTP_HOST} !^weburl.net$
    RewriteRule ^(.*)$ https://weburl.net/$1 [R=307,END]
</IfModule>
